<div class="row" ng-controller='profile'>
    <div class="col-md-6">
        <img style="width: 300px" src="https://via.placeholder.com/150"
            alt="avatar">
    </div>
    <div class="col-md-6">

        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>Username</th>
                    <td>{{students2[0].username}}</td>
                </tr>
                <tr>
                    <th>fullname</th>
                    <td>{{students2[0].fullname}}</td>
                </tr>
                <tr>
                    <th>email</th>
                    <td>{{students2[0].email}}</td>
                </tr>
                <tr>
                    <th>gender</th>
                    <td ng-if="students2[0].gender=='true'"> Male</td>
                    <td ng-if="students2[0].gender=='false'"> Female</td>
                </tr>
                <tr>
                    <th>birthday</th>
                    <td>{{students2[0].birthday}}</td>
                </tr>
                <tr>
                    <th>schoolfee</th>
                    <td>{{students2[0].schoolfee}}</td>
                </tr>
                <tr>
                    <th>marks</th>
                    <td>{{students2[0].marks}}</td>
                </tr>
            </thead>
        </table>
        <a href="" class="btn btn-success" > Edit</a>
    </div>
</div>