
    <div>
        <h3 class="alert alert-success mt-0">Thông tin về chúng tôi</h3>
        <div class="text-justify">
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum voluptate molestiae delectus possimus
                ipsum distinctio. Magnam accusantium tempora quos. Deleniti ad ipsam ducimus nam vero at ullam quisquam
                hic ipsum?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum voluptate molestiae delectus possimus
                ipsum distinctio. Magnam accusantium tempora quos. Deleniti ad ipsam ducimus nam vero at ullam quisquam
                hic ipsum?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum voluptate molestiae delectus possimus
                ipsum distinctio. Magnam accusantium tempora quos. Deleniti ad ipsam ducimus nam vero at ullam quisquam
                hic ipsum?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum voluptate molestiae delectus possimus
                ipsum distinctio. Magnam accusantium tempora quos. Deleniti ad ipsam ducimus nam vero at ullam quisquam
                hic ipsum?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum voluptate molestiae delectus possimus
                ipsum distinctio. Magnam accusantium tempora quos. Deleniti ad ipsam ducimus nam vero at ullam quisquam
                hic ipsum?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum voluptate molestiae delectus possimus
                ipsum distinctio. Magnam accusantium tempora quos. Deleniti ad ipsam ducimus nam vero at ullam quisquam
                hic ipsum?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum voluptate molestiae delectus possimus
                ipsum </p>
            <p>distinctio. Magnam accusantium tempora quos. Deleniti ad ipsam ducimus nam vero at ullam quisquam hic
                ipsum?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum voluptate molestiae delectus possimus
                ipsum distinctio. Magnam accusantium tempora quos. Deleniti ad ipsam ducimus nam vero at ullam quisquam
                hic ipsum?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum voluptate molestiae delectus possimus
                ipsum distinctio. Magnam accusantium tempora quos. Deleniti ad ipsam ducimus nam vero at ullam quisquam
                hic ipsum?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum voluptate molestiae delectus possimus
                ipsum distinctio. Magnam accusantium tempora quos. Deleniti ad ipsam ducimus nam vero at ullam quisquam
                hic ipsum?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum voluptate molestiae delectus possimus
                ipsum distinctio. Magnam accusantium tempora quos. Deleniti ad ipsam ducimus nam vero at ullam quisquam
                hic ipsum?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum voluptate molestiae delectus possimus
                ipsum distinctio. Magnam accusantium tempora quos. Deleniti ad ipsam ducimus nam vero at ullam quisquam
                hic ipsum?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum voluptate molestiae delectus possimus
                ipsum distinctio. Magnam accusantium tempora quos. Deleniti ad ipsam ducimus nam vero at ullam quisquam
                hic ipsum?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum voluptate molestiae delectus possimus
                ipsum distinctio. Magnam accusantium tempora quos. Deleniti ad ipsam ducimus nam vero at ullam quisquam
                hic ipsum?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum voluptate molestiae delectus possimus
                ipsum distinctio. Magnam accusantium tempora quos. Deleniti ad ipsam ducimus nam vero at ullam quisquam
                hic ipsum?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum voluptate molestiae delectus
                possimus ipsum distinctio. Magnam accusantium tempora quos. Deleniti ad ipsam ducimus nam vero at ullam
                quisquam hic ipsum?</p>
        </div>
    </div>
